<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <ng-container [ngSwitch]="stateService.userData | async">
        <ng-container *ngSwitchDefault>
          <a mat-list-item routerLink="/category-add" routerLinkActive="active">Add Category</a>
          <a mat-list-item routerLink="/categories" routerLinkActive="active">Categories</a>
          <mat-list-item (click)="logout()">Logout</mat-list-item>
        </ng-container>
        <ng-container *ngSwitchCase="null">
          <a mat-list-item routerLink="/login" routerLinkActive="active">Login</a>
          <a mat-list-item routerLink="/register" routerLinkActive="active">Register</a>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>